.table_list {
  .table_list_item {
    padding: 0 15px;
    height: 40px;
    border: 1px solid rgba(100, 99, 99, 0.474);
    display: flex;
    justify-content: left;
    align-items: center;
  }
}
.table_list_item_active {
  background-color: rgb(61, 61, 182);
}
