.table {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .table_list {
    .table_list_item {
      padding: 0 15px;
      height: 40px;
      border: 1px solid rgba(100, 99, 99, 0.474);
      display: flex;
      align-items: center;
      &:not(:first-child) {
        text-transform: uppercase;
      }
    }
  }
}
