.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .table_list {
    text-transform: uppercase;
    white-space: nowrap;
    .table_list_item {
      height: 40px;
      border: 1px solid rgba(100, 99, 99, 0.474);
      &:first-child {
        text-transform: lowercase;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
